@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Lato:wght@300;400&family=Numans&family=Nunito+Sans:wght@800&family=Nunito:wght@800&family=Oleo+Script&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #6A6A6A;
}

.container {
  width: min(100%, 1200px);
  padding: 0 16px;
  margin: 0 auto;
}

button {
  border: none;
  background: none;
  outline: none;
}

header {
  background-color: #fff;
}

.header {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: block;
  font-family: "Numans", sans-serif;
  font-size: 3.2rem;
  position: relative;
}
.header__logo::after {
  content: "";
  display: block;
  width: calc(100% + 18px);
  height: 5px;
  background-color: #31F8BD;
  position: absolute;
  bottom: 0;
  left: 0;
  left: 6px;
}
.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}
.header nav ul li a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.1rem;
  text-transform: lowercase;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  background-color: #fff;
  scroll-snap-align: start;
}
.section__title {
  height: calc(22px + 78px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__title h1 {
  font-family: "Numans", sans-serif;
  font-size: 3.2rem;
  text-align: right;
  text-transform: uppercase;
}
.section__intro {
  height: 100vh;
}
.section__projects {
  height: 100vh;
}
.section__contact {
  height: 100vh;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 78px - 14%);
  background-color: #fff;
  text-align: center;
}
.intro__title {
  font-family: "Bentham", serif;
  font-weight: normal;
  font-size: 7rem;
  line-height: 0.9;
  color: #3A3434;
  text-transform: capitalize;
}
.intro__desc {
  font-family: "Numans", sans-serif;
  font-weight: normal;
  margin: 2rem 0;
  font-size: 2.4rem;
  color: #686868;
  line-height: 1.6;
}
.intro__ca {
  padding-top: 1rem;
}
.intro__ca button {
  font-size: 2.4rem;
  color: #743737;
  background-color: #F7F6F6;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  padding: 0.55em 1.8em;
  border-radius: 50px;
  cursor: pointer;
}
.intro__bars {
  height: 120px;
  position: relative;
  transform: translateY(-50%);
}
.intro__bars::before {
  content: "";
  display: table;
  background-color: #743737;
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 4px;
  margin-left: 16px;
}
.intro__bars::after {
  content: "";
  display: table;
  background-color: #743737;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 4px;
  margin-left: 16px;
}

.projects__list {
  height: 58vh;
}

.project {
  font-family: "Lato", sans-serif;
}
.project__title {
  font-family: "Oleo Script", cursive;
  font-weight: normal;
  color: #3A3434;
  font-size: 3rem;
  margin-top: 2.4rem;
}
.project__url {
  font-size: 2rem;
  color: #6A6A6A;
  display: block;
  margin-bottom: 2rem;
}
.project__img {
  width: 180px;
  height: 180px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  overflow: hidden;
}
.project__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project__about {
  max-width: 680px;
  line-height: 1.7;
  font-size: 1.9rem;
  font-weight: 300;
  color: #3A3434;
}
.project__tech {
  margin-top: 3rem;
}
.project__navigation {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.project__navigation-btn {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background-color: #f0f0f3;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686868;
  padding-bottom: 0.3rem;
}

.navigation {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate-page {
  font-size: 1.9rem;
}
.navigate-page__down {
  transform: rotate(90deg);
  position: relative;
}
.navigate-page__down::after {
  content: url(../assets/arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  right: -50px;
}
.navigate-page__back {
  position: relative;
  padding-left: 46px;
  display: flex;
  align-items: center;
}
.navigate-page__back::before {
  content: url(../assets/arrow.svg);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(3px) rotate(-180deg);
}

.contact__info {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__person {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: -2rem;
}
.contact__person img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact__name {
  font-size: 4.9rem;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  margin-bottom: 2rem;
}
.contact__socials {
  list-style: disc;
  margin-left: 1.8rem;
}
.contact__socials li {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.contact__bars {
  height: 120px;
  position: relative;
  transform: translateY(-50%);
}
.contact__bars::before {
  content: "";
  display: table;
  background-color: #743737;
  position: absolute;
  top: 0;
  right: 0;
  height: 120px;
  width: 4px;
  margin-left: 16px;
}
.contact__bars::after {
  content: "";
  display: table;
  background-color: #743737;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 4px;
  margin-left: 16px;
}

.tag__item {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  display: inline-block;
  padding: 0.4em 0.8em;
  border-left: 2px solid #fff;
}
.tag__item:not(:last-child) {
  margin-right: 1rem;
}
.tag__item--success {
  border-color: rgb(13, 201, 13);
}
.tag__item--info {
  border-color: rgb(29, 236, 236);
}
.tag__item--indigo {
  border-color: indigo;
}

/*# sourceMappingURL=style.css.map */
