.contact {
  &__info {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__person {
    width: 200px;
    height: 200px;
    background-color: $white;
    border-radius: 50%;

    margin-left: -2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (max-width: 768px) {
      width: 160px;
      height: 160px;
    }
  }

  &__name {
    font-size: 4.9rem;
    font-family: $font-nunioto-sans;
    font-weight: normal;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
      font-size: 3.9rem;
    }
  }

  &__socials {
    list-style: disc;
    margin-left: 1.8rem;
    li {
      font-size: 1.9rem;
      margin-bottom: 1rem;
    }
  }

  &__bars {
    $bar-height: 180px;
    height: $bar-height;
    position: relative;
    transform: translateY(-50%);

  

    &::after {
      content: "";
      display: table;
      background-color: $text-743737;
      @include corner-absolute(bottom, left);
      width: $bar-height;
      height: 4px;
      margin-left: $gap;
    }
  }

  .github {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 6px;
  }
}
