.intro {
    @include flex-center(center);
    flex-direction: column;
    height: 82%;
    background-color: $white;
    text-align: center;

    &__title {
        font-family: $font-bentham;
        font-weight: normal;
        font-size: 7rem;
        line-height: .9;
        color: $text-3a3434;
        text-transform: capitalize;
    }

    &__desc {
        font-family: $font-numans;
        font-weight: normal;
        margin: 2rem 0;
        font-size: 2.4rem;
        color: $text-686868;
        line-height: 1.6;
    }

    &__ca {
        padding-top: 1rem;
        button {
            font-size: 2.4rem;
            color: $text-743737;
            background-color: $bg-F7F6F6;
            font-family: $font-nunito;
            font-weight: 800;
            padding: .55em 1.8em;
            border-radius: 50px;
            cursor: pointer;
        }
    }

    &__bars {
        $bar-height: 120px;
        height: $bar-height;
        position: relative;
        transform: translateY(-50%);
        
       &::before {
        content: "";
        display: table;
        background-color: $text-743737;
        @include corner-absolute(top,left);
        height: $bar-height;
        width: 4px;
        margin-left: $gap;
       }

       &::after {
        content: "";
        display: table;
        background-color: $text-743737;
        @include corner-absolute(bottom,left);
        width: $bar-height;
        height: 4px;
        margin-left: $gap;
       }
    }

}