.navigation {
    margin-top: 10rem;
    @include flex-center(space-between);
    position: relative;
}

.navigate-page {

    font-size: 1.9rem;
    display: block;
    

    &__down {
       
        position: relative;
        @include corner-absolute(bottom,right);
        transform: rotate(90deg) translateX(-50%);

        &::after {
            content: url(../assets/arrow.svg);
            @include corner-absolute(top, right);
            right: -50px;
            animation: moveDown .5s ease-in alternate infinite;

        }

        @keyframes moveDown {
            to {
                right: -68px;
            }
        }
    }

    &__back {
    
        position: relative;
        padding-left: 46px;
        display: flex;
        align-items: center;

        &::before {
            content: url(../assets/arrow.svg);
            @include corner-absolute(top, left);
            transform: translateY(3px) rotate(-180deg);
        }
    }

    &__up {
        position: relative;
        @include corner-absolute(bottom,right);
        transform: rotate(-90deg);
        &::before {
            content: url(../assets/arrow.svg);
            @include corner-absolute(top, left);
            transform: translateX(calc(100% + 16px))  rotate(-360deg);
            animation: moveUp .5s ease-in alternate infinite;
        }
        @keyframes moveUp {
            to {
                transform: translateX(calc(100% + 28px))  rotate(-360deg);
            }
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
}