.projects {
    &__list {
        height: 55vh;
    }
}

.project {
    font-family: $font-lato;
    opacity: 0;
    animation: fadeIn 1s ease forwards;

    &__title {
        font-family: $font-oleo;
        font-weight: normal;
        color: $text-3a3434;
        font-size: 3rem;
        margin-top: 2.4rem;
        
        @media screen and (max-width: 480px) {
            font-size: 2.4rem;
        }
    }

    &__url {
        font-size: 2rem;
        color: $text-6a6a6a;
        display: block;
        margin-bottom: 2rem;
        @media screen and (max-width: 480px) {
            font-size: 1.8rem;
        }
    }

    &__img {
        width: 180px;
        height: 180px;
        background-color: $white;
        box-shadow: $sh;
        border-radius: 4px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @media screen and (max-width: 480px) {
            width: 120px;
            height: 120px;
        }
    }

    &__about {
        max-width: 680px;
        line-height: 1.7;
        font-size: 1.9rem;
        font-weight: 300;
        color: $text-3a3434;

        @media screen and (max-width: 480px) {
            font-size: 1.6rem;
        }
    }

    &__tech {
        margin-top: 3rem;
    }

    &__navigation {
        display: flex;
        gap: 2rem;
        align-items: center;

        &-btn {
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 50%;
            background-color: #f0f0f3;
            box-shadow: 10px 10px 10px rgba($white, 0.1);
            font-size: 2.5rem;
            @include flex-center(center);
            color: $text-686868;
            padding-bottom: 0.3rem;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0);

        }
    }
}