main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  background-color: $white;
  scroll-snap-align: start;

  &__title {
    height: calc(22px + #{$header-height});
    @include flex-center(space-between);

    h1 {
      font-family: $font-nunito;
      font-size: 3.2rem;
      text-align: right;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 1.8rem;
      }
    }
    @media screen and (max-width: 480px) {
     height: $header-height;
    }
  }

  &__intro {
    height: 100vh;
  }

  &__projects {
    height: 100vh;
    position: relative;
  }

  &__contact {
    height: 100vh;
    position: relative;
  }
}
