.tag {
    &__item {
        box-shadow: $sh;
        display: inline-block;
        padding: .4em .8em;
        border-left: 2px solid $white;
        &:not(:last-child) {
            margin-right: .8rem;
            margin-bottom: .8rem;
        }

        &--success {
            border-color: rgb(13, 201, 13);
        }
        &--info {
            border-color: rgb(29, 236, 236);
        }
        &--indigo {
            border-color: indigo;
        }
    }
}

$border-colors: green, indigo, cyan, gold, blue, purple, lightgreen, red;

@each $color in $border-colors {
    .b-color--#{$color} {
        border-color: $color;
    }
}